.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  background-color: #6dd19c;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .search {
  cursor: pointer;
}
