.content {
  display: flex;
  box-sizing: border-box;
  gap: 1%;
  width: 100%;
  padding: 2%;
}

.content .search-section {
  width: 25%;
  height: 4vh;
  background-color: white;
  padding: 1%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: #001f40;
}

.content .contacts-section {
  flex: 1;
  background-color: white;
  padding: 1%;
  border-radius: 10px;
  max-height: 78vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: #001f40;
  overflow-y: auto;
}

.content .contacts-section::-webkit-scrollbar {
  width: 10px;
}

.content .contacts-section::-webkit-scrollbar-thumb {
  background-color: #6dd19c6e;
  border-radius: 5px;
}

.content .contacts-section::-webkit-scrollbar-thumb:hover {
  background-color: #6dd19c;
}

.search-section p {
  font-size: 0.8rem;
  padding: 1%;
  font-family: "Raleway", sans-serif;
  color: #3c5657;
}

.searched-contact {
  color: #3c5657;
  font-family: "Raleway", sans-serif;
  padding: 2%;
  width: 100%;
}

@media (max-width: 1024px) {
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .content .search-section,
  .content .contacts-section {
    width: 98%;
    flex: 1;
  }

  .content .search-section {
    margin-bottom: 2%;
  }
}
