body {
  all: unset;
  background-color: rgb(243, 243, 243);
}

.no-item {
  cursor: pointer;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #3c5657;
  padding: 5%;
}
